In [1]:
import pandas as pd

In [2]:
s1 = pd.Series([10,20,30,40,50])
s1

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [5]:
s2 = pd.Series(['A','B','C'])
s2

0    A
1    B
2    C
dtype: object

In [9]:
num_s1 = pd.Series([1,2,3,4],index = ['a','b','c','d'])
num_s2 = pd.Series([5,6,7,8],index = ['b','c','d','a'])

print(num_s1,'\n',num_s2)

a    1
b    2
c    3
d    4
dtype: int64
 b    5
c    6
d    7
a    8
dtype: int64

In [11]:
num_s3 = pd.Series([1,2,3,4],index = ['e','b','f','g'])
num_s4 = pd.Series([5,6,7,8],index = ['a','b','c','d'])

num_s3 + num_s4

a    NaN
b    8.0
c    NaN
d    NaN
e    NaN
f    NaN
g    NaN
dtype: float64