## 시리즈 연습 문제

#### 문제1.
: 필요한 패키지를 import하고, 별명을 만드시오.

In [1]:
import pandas as pd

#### 문제2.
: 다음의 조건에 따라 임의로 두 개의 시리즈 객체를 생성하시오.
-  조건1) 모두 문자열 인덱스를 가져야 하며,
-  조건2) 모두 시리즈에 공통적으로 포함되지 않는 인덱스가 있어야 한다.
-  조건3) 값과 시리즈 원소 개수도 임의 설정할 것

In [2]:
s1 = pd.Series(('100','90','87','100'),index=['국','수','사','과'])
s2 = pd.Series(('90','95','93','90'),index=['국','수','사','과'])

#### 문제3.
:다음의 시리즈 객체를 이용하여 사칙연산을 수행하고 결과를 출력하시오.

In [3]:
# 시리즈 데이터
ex_s1 = pd.Series({'국어':95,'영어':80,'수학':75})
ex_s2 = pd.Series({'국어':95,'영어':80,'수학':75})

In [4]:
ex_s1 + ex_s2

국어    190
영어    160
수학    150
dtype: int64

In [5]:
ex_s1 - ex_s2

국어    0
영어    0
수학    0
dtype: int64

In [6]:
ex_s1 / ex_s2

국어    1.0
영어    1.0
수학    1.0
dtype: float64

In [7]:
ex_s2 * ex_s2

국어    9025
영어    6400
수학    5625
dtype: int64

#### 문제4. 
: 문제3의 두 시리즈 객체를 이용하여 다음 연산을 수행한 결과를 쓰고 왜 그러한지 설명하시오.

In [23]:
ex_s1 = pd.Series({'국어':95,'영어':80,'수학':75})
ex_s2 = pd.Series({'국어':95,'과학':80,'논술':75})

In [24]:
ex_s1 - ex_s2

과학    NaN
국어    0.0
논술    NaN
수학    NaN
영어    NaN
dtype: float64

정답) 두 시리즈가 동일하게 가진 인덱스끼리 값을 연산하기 때문에 동일한 인덱스가 없으면 값은 `NaN`이 나온다.

In [21]:
ex_s1.values - ex_s2.values

array([0, 0, 0])

정답 ) 시리즈의 values를 이용하여 연산을 하게되면 시리즈의 형태는 사라지고 같은 위치의 값끼리 연산을 하기 때문에 array 형태로 `array([0, 0, 0])` 결과가 나온다.

#### 문제5. 
: 다음의 데이터를 이용하여 주어진 조건에 따라 시리즈 객체를  생성하시오.

In [9]:
#  서울 : 9904312, 부산 : 3448737, 인천 : 2890451  대구 : 2466052    
#  1) 리스트를 이용하여 시리즈 생성
data_list = pd.Series([9904312,3448737,2890451,2466052],
                     index=['서울','부산','인천','대구'])
#  2) 딕셔너리를 이용하여 시리즈 생성
data_dict = pd.Series({'서울' : 9904312, '부산' : 3448737, '인천' : 2890451 ,'대구' : 2466052})

data_list, data_dict

(서울    9904312
 부산    3448737
 인천    2890451
 대구    2466052
 dtype: int64,
 서울    9904312
 부산    3448737
 인천    2890451
 대구    2466052
 dtype: int64)

#### 문제6. 
: 문제5에서 생성한 시리즈에 대한 인덱스를 출력하시오.

In [10]:
data_list.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [11]:
data_dict.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

#### 문제7. 
:문제5에서 생성한 시리즈에 대하여 세번째 인덱스의 값을 문자인덱스로 접근 후 출력하시오.

In [12]:
data_dict['대구']

2466052

#### 문제8. 
: 문제5에서 생성한 시리즈에 대하여 문자인덱싱을 이용하여 부산, 인천, 대구의 값을 추출하시오.

In [13]:
data_dict[['부산','인천','대구']]

부산    3448737
인천    2890451
대구    2466052
dtype: int64

#### 문제9. 
:다음 데이터를 이용하여 시리즈를 생성하고 데이터 순서는 서울, 부산, 인천, 대전 으로 설정하시오.( 딕셔너리 활용 )

In [14]:
#   서울 9631482
#   부산 3393191
#   인천 2632035
#   대전 1490158

data = pd.Series({'서울' : 9631482, '부산' : 3393191, '인천' : 2632035 ,'대전' : 1490158},
                     index=['서울','부산','인천','대전'])
data

서울    9631482
부산    3393191
인천    2632035
대전    1490158
dtype: int64

#### 문제 10
: 위에서 생성한 시리즈에 인구 라는 이름을 설정하시오

In [15]:
data.name = '인구'
data

서울    9631482
부산    3393191
인천    2632035
대전    1490158
Name: 인구, dtype: int64

#### 문제 11
: 위에서 생성한 시리즈의 인구수가 3000000 이상인 도시를 출력하시오

In [16]:
data[data>=300e4]

서울    9631482
부산    3393191
Name: 인구, dtype: int64

#### 문제 12
: 위에서 생성한 시리즈의 서울 데이터를 11000000 으로 변경하세요

In [17]:
data['서울'] = 1100e4
data

서울    11000000
부산     3393191
인천     2632035
대전     1490158
Name: 인구, dtype: int64

#### 문제 11
: 대전 데이터를 삭제하세요

In [18]:
del data['대전']
data

서울    11000000
부산     3393191
인천     2632035
Name: 인구, dtype: int64

#### 문제 12 
: 대구 데이터가 있는지 확인 하세요

In [19]:
'대구' in data.keys()

False